<h2>Create Person</h2>
<form action="/person" method="POST">
  Name: <input name="name" /><br/>
  Age: <input name="age" /><br/>
  Gender: <input name="gender" /><br/>
  Mobile: <input name="mobile" /><br/>
  <button type="submit">Add</button>
</form>
